curl/
zipFilesCall.bat
sandbox
runStartSandbox.wsb 
setup.log 
setup.log.full 
*InstructionWork.txt 
install_log.log 
config_log.log
callClaude.template
claude-context.yaml
_dump.txt
curl_download_uri.txt
*_download_uri.uri
mirrorSiteDownloadLink.uri
pipedExtractInstallUriCurrent.uri
statusLinkCheckCurrent.txt
prompt.md.template
claude/prompt.md
call-claude.log
logs/
tmpFileCygwinInstall.txt
USED_DOWNLOAD.uri
