curl/
zipFilesCall.bat
sandbox
runStartSandbox.wsb 
setup.log 
setup.log.full 
curlInstructionWork.txt 
install_log.log 
config_log.log
callClaude.txt
claude-context.yaml
_dump.txt
curl_download_uri.txt
mirrorSiteDownloadLink.txt
pipedExtractInstallUriCurrent.txt
statusLinkCheckCurrent.txt
prompt.md.template
claude\prompt.md
